@import 'bootstrap.min.scss';
@import 'glightbox.min.scss';
@import 'lineicons.scss';
@import 'tiny-slider.scss';
@import 'style.scss';
.testing{
    padding: 15px;
    color: aquamarine;
    background-color: burlywood;
}
.logout{
    border: none;
    background: inherit;
    color: var(--bs-light);
    line-height: 70px;
}
.user-name {
    color: var(--bs-light);
    line-height: 70px;
}
.user-position{
    width: 400px;
    text-align: center;
}