@import 'bootstrap.min.scss';
@import 'glightbox.min.scss';
@import 'lineicons.scss';
@import 'tiny-slider.scss';
@import 'style.scss';
.testing{
    padding: 15px;
    color: aquamarine;
    background-color: burlywood;
}